@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background-color: rgb(0, 0, 0);
    color: #203bd6;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.back{
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
    text-align: left;
    transition: .5s ease-in-out;
    border-radius: 18px;
    font-size: 1.5rem;
    padding: 8px;
    background-color: blue;
    text-decoration: none;

  }

  .back:hover{
    background-color: rgba(0, 0, 255, 0.338);
    
  }
  

.hrow {
    font-weight: 800;
    font-size: 2rem;
}

.hrow td {
    padding-top: 20px;
    width: 900px;
    color: white;

}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blue; 
    border-radius: 28px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
